*{
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}
a{
	text-decoration: none;
}

.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;};
.clearfix{*zoom:1;};
.box{
	width: 100%;
	min-width: 1349px;
	background-color: #f8f8f8;
	header{
		width: 100%;
		height: 400px;
		background: url(img/logo2.jpg) no-repeat center 0;
	}
	.introduce{
		width: 100%;
		margin-top: -100px;
		background-color: #f8f8f8;
		.int-in{
			width: 80%;
			margin: 0 auto;
			.img{
				border: 10px solid #fff;
				box-shadow: 0 1px 1px 1px rgba(98,98,98,0.1);
				display: inline-block;
				margin: 5px 10px;
				vertical-align: top;
			}
			.info{
				width: 800px;
				margin: 5px 10px;
				display: inline-block;
				vertical-align: top;
				.area-lang{
					display: inline-block;
					.area{
						margin: 10px 0;
						em{
							color: #999;
							font-style: normal;
						}
					}
					.language{
						margin: 10px 0;
						em{
							color: #999;
							font-style: normal;
						}
					}
				}
				.type-dire{
					display: inline-block;
					.type{
						margin: 10px 0;
						em{
							color: #999;
							font-style: normal;
						}
					}
					.director{
						margin: 10px 0;
						em{
							color: #999;
							font-style: normal;
						}
					}
				}
				.brief-intro{
					font-size: 14px;
					em{
						color: #999;
						font-style: normal;
					}
				}
			}
		}
	}
	.carousel{
		width: 80%;
		margin: 0 auto;
		position: relative;
		.caro-in{
			width: 500px;
			height: 400px;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
			.caro-l{
				border: 20px solid transparent;
				position: absolute;
				left: 30px;
				top: 190px;
				border-right: 20px solid #fff;
				z-index: 100;
			}
			.caro-r{
				border: 20px solid transparent;
				position: absolute;
				right: 30px;
				top: 190px;
				border-left: 20px solid #fff;
				z-index: 100;
			}
			.caro-img{
				position: absolute;
				left: 0;
				top: 0;
				width: 500px;
				line-height: 400px;
				background-color: #f8f8f8;
				img{
					vertical-align: middle;
				}
			}
			.dot{
				position: absolute;
				bottom: 60px;
				left: 45%;
				z-index: 100;
				.dot-in{
					width: 5px;
					height: 5px;
					background-color: #fff;
					display: inline-block;
					margin-right: 8px;
					border-radius: 5px;
				}
				.current{
					background: red;
				}
			}
		}
		.caro-play{
				position: absolute;
				left: 0;
				top: 100px;
				li{
					width: 200px;
					height: 20px;
					background-color: #ececec;
					span{
						display: inline-block;
						height: 20px;
						background-color: #5aa700;
					}
					em:nth-child(2){
						position: absolute;
						bottom: 1px;
						right: 7px;
						font-style: normal;
					}
					em:nth-child(3){
						position: absolute;
						bottom: 2px;
						right: 0px;
						font-style: normal;
					}
					em:nth-child(2) i{
						font-style: normal;
					}
					em:nth-child(4){
						position: absolute;
						bottom: 1px;
						right: -40px;
						font-style: normal;
					}
				}
			}
	}
	.content{
		width: 100%;
		.cont-top{
				margin-top: 20px;
				width: 100%;
				height: 40px;
				ul{
					width: 80%;
					margin: 0 auto;
					height: 40px;
					border-bottom: 2px solid #ededed;
					li{
						float: left;
						height: 38px;
						padding: 0 14px;
						margin-right: 30px;
						a{
							font-size: 20px;
							line-height: 40px;
							text-align: center;
							color: #333;
							&:hover{
								color: #5aa700;
							}
						}
					}
					.selected{
						border-bottom: 4px solid #5aa700;
						a{
							color: #5aa700;
						}
					}
				}
			}
		.content-in{
			width: 80%;
			margin: 0 auto;
			overflow: hidden;
			position: relative;
			
			.cont-l{
				width: 70%;
				height: 40px;
				float: left;
				.list{
					width: 100%;
					margin-top: 30px;
					position: relative;
					.list-l{
						line-height: 22px;
						border-left: 4px solid #5aa700;
						padding-left: 3px;
						span{
							color: #5aa700;
						}
					}
					.list-r{
						position: absolute;
						top: -10px;
						right: 0;
						ul{
							border-radius: 3px;
							border: 1px solid #5aa700;
							overflow: hidden;
							li{
								float: left;
								a{
									line-height: 30px;
									width: 68px;
									display: block;
									text-align: center;
									color: #5aa700;
									font-size: 12px;
								}
							}
							.selected{
								background-color: #5aa700;
								a{
									color: #fff;
								}
							}
						}
					}
					.list-num{
						position: absolute;
						top: -10px;
						right: 110px;
						display: none;
						ul{
							overflow: hidden;
							width: 330px;
							li{
								
								margin-right: 10px;
								border-radius: 3px;
								float: left;
								border: 1px solid #ececec;
								a{
									line-height: 30px;
									width: 70px;
									text-align: center;
									display: block;
									color: #666;
									font-size: 14px;
									&:hover{
										color: #5aa700;
									}
								}
								
							}
							.selected{
								border-color: #5aa700;
								a{
									color: #5aa700;
								}
							}
						}
					}
				}
			}
			.cont-r{
				width: 29%;
				float: left;
				margin-left: 10px;
				.list{
					width: 100%;
					margin-top: 30px;
					border-bottom: 1px solid #ededed;
					margin-bottom: 10px;
					.list-in{
						line-height: 22px;
						border-left: 4px solid #5aa700;
						padding-left: 3px;
						span{
							color: #5aa700;
						}
					}
				}
				.person{
					width: 100%;
					ul{
						li{
							margin-bottom: 24px;
							p{
								display: inline-block;
								width: 170px;
								vertical-align: top;
								margin-left: 5px;
								margin-top: 10px;
							}
						}
					}
				}
			}
			.cont-bottom{
				width: 70%;
				position: absolute;
				left: 0;
				top: 80px;
				ul{
					overflow: hidden;
					li{
						width: 130px;
						float: left;
						margin-right: 20px;
						margin-bottom: 22px;
						p{
							font-size: 12px;
						}
					}
				}
			}
			.cont-synopsis{
				width: 70%;
				position: absolute;
				left: 0;
				top: 70px;
				display: none;
				.synopsis{
					dt{
						margin-bottom: 5px;
					}
					dd{
						font-size: 14px;
						line-height: 18px;
					}
				}
			}
			.cont-num{
				width: 70%;
				position: absolute;
				left: 0;
				top: 90px;
				display: none;
				ul{
					overflow: hidden;
					margin-bottom: 10px;
					li{
						float: left;
						margin-right: 10px;
						border-radius: 3px;
						a{
							display: block;
							text-align: center;
							width: 60px;
							line-height: 34px;
							border-radius: 3px;
							border: 1px solid #ededed;
							color: #333;
							font-size: 14px;
							&:hover{
								background-color: #5aa700;
								color: #fff;
							}
						}
						
					}
				}
			}
			.cont-pic{
				width: 70%;
				position: absolute;
				left: 0;
				top: 480px;
				display: none;
				.pic{
					padding: 10px 0 0 10px;
					float: left;
					img{
						padding: 10px 10px;
						border: 1px solid #ccc;
						border-radius: 4px;
						vertical-align: top;
					}
				}
			}
			.cont-upto{
				width: 40px;
				height: 40px;
				border-radius: 40px;
				position: fixed;
				bottom: 40px;
				right: 70px;
				font-size: 14px;
				color: #00c300;
				line-height: 40px;
				background-color: #fff;
				box-shadow: 0 0 5px 0 rgba(2,2,2,0.2);
				display: none;
				cursor: pointer;
				&:after,&:before{
					content: '';
					position: absolute;
					right: 10px;
					top: 6px;
					border: 9px solid transparent;
					border-bottom-color: #00c300;
				}
				&:after{
					right: 10px;
					top: 9px;
					border-bottom-color: #fff;
				}
			}
		}
	}
}


